In [1]:
import datetime
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('./Transactions_générées_[2017].xlsx')

In [3]:
df['date'] = df.apply(lambda x:datetime.date(int(x.year), int(x.month), int(x.day)), axis=1)
df.date = pd.to_datetime(df.date)

In [4]:
df['ind_semaine'] = ['Fin de semaine' if date in [5,6] else 'Semaine' for date in df.date.dt.day_of_week]

In [5]:
mask = (df.hour > 6) & (df.hour < 23) & (df.month > 6) & (df.month < 10)
only_pm = (df.hour > 12) & (df.hour < 18)
sup50 = df.occup >= 50
sup60 = df.occup >= 60

In [8]:
df[mask].groupby('ind_semaine').occup.describe()

,count,mean,std,min,25%,50%,75%,max
ind_semaine,,,,,,,,
Fin de semaine,432.0,52.850972,32.459013,0.0,25.2075,54.0,77.790,126.21
Semaine,1040.0,30.173404,19.328025,0.0,15.5900,29.1,41.415,166.62

In [87]:
pd.concat([
    df[mask].groupby('ind_semaine').occup.mean().to_frame('Occupation entre 7h00 et 22h00'),
    df[mask & only_pm].groupby('ind_semaine').occup.mean().to_frame('Occupation entre 13h00 et 17h00'),
    df[mask & sup50].groupby(['date', 'ind_semaine']).size().to_frame('Nombre d\'heure en dépassement (50%)').groupby('ind_semaine').mean(),
    df[mask & sup60].groupby(['date', 'ind_semaine']).size().to_frame('Nombre d\'heure en dépassement (60%)').groupby('ind_semaine').mean()
], axis=1)

,Occupation entre 7h00 et 22h00,Occupation entre 13h00 et 17h00,Nombre d'heure en dépassement (50%),Nombre d'heure en dépassement (60%)
ind_semaine,,,,
Fin de semaine,52.850972,76.412667,9.400000,7.48
Semaine,30.173404,38.790923,4.466667,2.75